*{
    margin: 0;
}

body {
    font-family: 'Copperplate Gothic Bold', sans-serif;
}

body .connexion_container, .inscription_container{
    background: linear-gradient(to left, #7edde0 , #1d1b7e);
}

.main{
    /* margin-top: 30px; */
    /* display: flex;
    flex-direction: row; */
    background: linear-gradient(to left, rgba(238, 216, 15, 0.4) , #e6e20f);
}

.title_index{
    margin: 5rem auto;
    text-align: center;
}

.index_container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.block_post{
    width: 30rem;
    height: 20rem;
    border: 1px rgb(202, 202, 202) solid;
}

.text_post{
    letter-spacing: 2px;
    text-align: justify;
}

